@import "bootstrap/dist/css/bootstrap.min.css";
@import "@fortawesome/fontawesome-free/css/all.min.css";

/* Ajustes finos além do Bootstrap */

.squirtle-img {
    max-width: 120px;
}

#list-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

@media (max-width: 768px) {
    body {
        background-color: blueviolet !important;
    }
}